[submodule "verilog-CPU-openMIPS"]
	path = verilog-CPU-openMIPS
	url = git@github.com:Tengs-Penkwe/verilog-CPU-openMIPS.git
[submodule "Origin-OS-x86"]
	path = Origin-OS-x86
	url = git@github.com:Tengs-Penkwe/Origin-OS-x86.git
[submodule "rust-OS-RISCV"]
	path = rust-OS-RISCV
	url = git@github.com:Tengs-Penkwe/rust-OS-RISCV.git
[submodule "Y86-Chisel"]
	path = Y86-Chisel
	url = git@github.com:Tengs-Penkwe/Y86-Chisel.git
[submodule "MicroDB"]
	path = MicroDB
	url = git@github.com:Tengs-Penkwe/MicroDB.git
